<?xml version="1.0" encoding="UTF-8"?>
<!-- 
<Configuration status="error">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT"
				onMismatch="DENY" />
			
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>
		<File name="log" fileName="target/test.log" append="false">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
 -->
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- <PatternLayout
				pattern="[%d{HH:mm:ss.SSS}] [%-5level] [%class{36}] [%L] [%M] - [%msg%xEx]%n" /> -->
				<PatternLayout
				pattern="[%d{HH:mm:ss}] [%-5level] [%L] [%M] %msg%xEx%n" />
		</Console>
		<!-- <File name="log" fileName="target/test.log" append="false">
			<PatternLayout
				pattern="[%d{HH:mm:ss.SSS}] [%-5level] [%class{36}] [%L] [%M] - [%msg%xEx]%n" />
		</File> -->
		<!-- <File name="log" fileName="target/test.xml" append="false" >
			<XMLLayout complete="true" compact="false"
				pattern="&lt;log level=&quot;%-5level&quot; timestamp=&quot;%d{HH:mm:ss.SSS}&quot;  class=&quot;%class{36}&quot; linenumber=&quot;%L&quot; message=&quot;%msg%xEx&quot; /&gt;%n" />
		</File> -->
		<!--<File name="log" fileName="target/test.xml" append="false" >
			<XMLLayout complete="true" compact="false" />
		</File>-->
        <File name="log" fileName="${sys:xml_log}.xml" append="false" >
            <XMLLayout complete="true" compact="false" />
        </File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="log" />
		</Root>
	</Loggers>
</Configuration>